
@{
    ViewData["Title"] = "About";
}

<h2>Mainak Chowdhury</h2>
<h4>DevOps Practitioner</h4>
<h5>Batch: 26th August 2017</h5>
<h5>Faculty: Manika Bedi</h5>
<embed src="~/docs/Project_2_Library_Submission.pdf" 
       width="600" height="500" alt="pdf" 
       pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
